:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: start;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
	color: white;
	border: 2px solid #1a1a1a;
	transition: 0.5s ease;
}
button:hover {
	border: 2px solid;
	background-color: white;
	color: #1a1a1a;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.container {
	display: flex;
	width: 100vw;

	@media screen and (max-width: 1100px) {
		flex-direction: column;
		justify-content: space-evenly;
	}
}

textarea {
	border-radius: 10px;
	border: 4px solid #000;
	background: rgba(217, 217, 217, 0);
	padding: 16px;
}

.left {
	width: 50vw;
	text-align: center;
	height: 100vh;
	background: #f7f7f8;

	img {
		margin-top: 80px;
	}

	@media screen and (max-width: 1100px) {
		margin: 0 auto;
		max-width: 800px;
		height: 100%;
	}
}
.right {
	width: 50vw;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	box-shadow: -8px 4px 36px 0px rgba(0, 0, 0, 0.25);

	@media screen and (max-width: 1100px) {
		margin: 0 auto;
		max-width: 800px;
		height: 100%;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

#bot-text {
	color: #1a1a1a;
	max-width: 480px;
	min-height: 24px;
	text-align: left;
	padding: 24px;
	border-radius: 8px;
	margin: 16px auto;
	border-radius: 15px;
	background: #afafaf;
	box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.25);
}

#user-text {
	color: #1a1a1a;
	max-width: 480px;
	min-height: 24px;
	text-align: left;
	padding: 24px;
	border-radius: 8px;
	margin: 16px auto;
	border-radius: 15px;
	background: #d9d9d9;
	box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.25);
}
